{% extends 'base.html'%}
{% load static %}

{% block title %}
Flight Booking
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<style>
    body {
        margin-top: 8rem;
    }

    .clickable {
        cursor: pointer;
        pointer-events: auto;
    }
</style>
{% endblock %}

{% block content %}

    <div class="card container mb-3">
        <h4 class="card-header">Flight Details</h3>
        <div class="card-body">
          <h5 class="card-title">{{ airplane.airline.name }}</h5>
          <h6 class="card-subtitle text-muted ">{{ airplane.type }}</h6>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
            <image xlink:href="{{airplane.airline.logo}}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"></image>
        </svg>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
      <div class="card container">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
{% endblock %}