{% extends 'base.html' %}
{% load static %}
{% block title%}
hotel registration page
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<style>
    .myimg{
  margin-top:115px;
  
}

.box1{
  background-color: white;
  margin-top: -100px;
  width: 1000px;
  padding-left: 10px;
  padding-top: 20px;
  height: 140px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text1{
 font-size: larger;
font-weight: bold;
}
</style>
{% endblock %}
{% block content %}

<div class="container-fluid d-flex justify-content-center myimg position-relative  "  >
   <img class="rounded-1" width="80%" height="500px"   src=" {% static 'images/hotel.png' %} "/>
</div>
<div class="position-absolute  start-50 translate-middle-x  box1 rounded-2 ">
<p class="text1"> Discover and find your best experience hotels !</p>
  <form action="" method="get">
     <input type="text"  style="width: 800px" placeholder=" You can search  for hotels by name , country or city"/> <input type="submit" value="Search here"/>
  </form>

</div>




{% endblock %}